<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.john.guo.laowangproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <!-- 登录 -->
        <activity
            android:name="com.john.guo.laowangproject.act.RegistActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <!-- 新用户注册 -->
        <activity
            android:name="com.john.guo.laowangproject.act.NewbieRegistActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 充值 -->
        <activity
            android:name="com.john.guo.laowangproject.act.RechargeActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 提现 -->
        <activity
            android:name="com.john.guo.laowangproject.act.WithdrawActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 我的设置 -->
        <activity
            android:name="com.john.guo.laowangproject.act.MySettingActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 确认订单 -->
        <activity
            android:name="com.john.guo.laowangproject.act.ConfirmOrderActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 我的优惠券 -->
        <activity
            android:name="com.john.guo.laowangproject.act.CouponActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 课程详情 -->
        <activity
            android:name="com.john.guo.laowangproject.act.CourseDetailsActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 我的  -->
        <activity
            android:name="com.john.guo.laowangproject.act.UserCenterActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
        <!-- 我的课程 -->
        <activity
            android:name="com.john.guo.laowangproject.act.CourseActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>